@import './vars.css';

.primary{
  color:var(--colorPrimary);
}

.info{
  color:var(--colorInfo);
}

.danger{
  color:var(--colorDanger);
}

.warning{
  color:var(--colorWarning);
}

.success{
  color:var(--colorSuccess);
}

.error{
  color:var(--colorError);
}

.bgPrimary{
  background:var(--colorPrimary);
}

.bgInfo{
  background:var(--colorInfo);
}

.bgDanger{
  background:var(--colorDanger);
}

.bgWarning{
  background:var(--colorWarning);
}

.bgSuccess{
  background:var(--colorSuccess);
}

.bgError{
  background:var(--colorError);
}