.header{
  background:var(--colorHeader);
  position: fixed;
  bottom:0;
  left:0;
  user-select: none;
  z-index: 10;
  width:100%;
  border-top: solid 1px var(--lightColorBorder);
}
.header.light {
  background: var(--lightColorHeader);
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logoWrapper {
  display: none;
}

.logo {
  height: 100%;
  width: auto;
  cursor: pointer;
}

.navbar{
  background: none;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.navList {
  list-style: none;
  margin: 0;
  padding-left: 0;

  display: flex;
  justify-content: space-around;
}

.navbarTitle {
  display: block;
  margin-top: 0.25em;
}

.navbar.navbar-sm {
  font-size: .8em;
}

.navbarIcon {
  transition: fill var(--transitionEaseOut);
  display: block;
  fill: var(--colorText2);
  height: 24px;
  margin: 0 auto;
  width: 24px;
}

.navbarItem {
  display: inline-block;
  width: 25%;
}

.navbarLink {
  transition: color var(--transitionEaseOut);
  color: var(--colorText2);
  display: block;
  font-size: 0.75em;
  overflow: hidden;
  padding: 0.5em;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.light .navbarLink {
  color: var(--colorGray5);
}

.navbarLink svg {
  transition: fill var(--transitionEaseOut);
  fill: var(--colorText2);
}
.light .navbarLink svg {
  fill: var(--colorGray5);
}

.navbarLink:hover,
.navbarLink:active,
.navbarLink:focus {
  color: var(--colorText);
  background-color: transparent !important;
  text-decoration: none;
}
.light .navbarLink:hover,
.light .navbarLink:active,
.light .navbarLink:focus {
  color: var(--colorGray2);
}

.navbarLink:hover svg,
.navbarLink:active svg,
.navbarLink:focus svg {
  fill: var(--colorText);
}
.light .navbarLink:hover svg,
.light .navbarLink:active svg,
.light .navbarLink:focus svg {
  color: var(--colorGray2);
}

.navbarLink:active,
.navbarLink:global(.active) {
  color: white;
}
.light .navbarLink:active,
.light .navbarLink:global(.active) {
  color: var(--colorGray2);
}

.navbarLink:active svg,
.navbarLink:global(.active) svg{
  fill: white !important;
}
.light .navbarLink:active svg,
.light .navbarLink:global(.active) svg {
  fill: var(--colorGray2) !important;
}

/* Small screens */
@media (max-width: 768px){
  .headerHide{
    composes:header;
    transform:translateY(105%);
  }
}

/* Large screens */
@media (min-width: 768px) {
  .header{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    bottom: auto;
    position: relative;
    z-index: 1;
  }
  .light.header {
    box-shadow: none;
    border-bottom: solid 1px var(--lightcolorBorder);
    border-top: none;
  }

  .inner {
    justify-content: space-between;
  }

  .navList {
    justify-content: flex-end;
  }

  .logoWrapper {
    display: block;
    height: 5.5rem;
    padding: 1rem 1rem 0.5rem 0;
  }

  .navbarItem {
    width: auto;
  }

  .navbarIcon {
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: text-bottom;
  }

  .navbarTitle {
    display: inline;
  }

  .navbarLink {
    font-size: 0.85em;
    padding: 1em;
    margin-left: 3rem;
    text-align: left;
  }
}