.item {
  border-top: 1px solid var(--colorGray8);
  border-right: 0.3rem solid transparent;
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 0;
  position: relative;
}
.light.item {
  border-top: solid 1px #E8E8E8;
  border-bottom: none;
}

.item:after {
  content: '';
  display: block;
  position: absolute;
  right:0;
  top: 20%;
  height: 60%;
  width: 3px;
  background: var(--colorGray8);
}

.item.passing:after {
  background: var(--colorSuccess);
}

.item.failing:after {
  background: var(--colorDanger);
}

.item.initializing:after {
  background: var(--colorPrimary);
}

.itemSelected {
  composes: item;
  background: var(--colorGray8);
}
.itemSelected.light {
  background: var(--colorGray3);
}

.itemPending {
  opacity: 0.35;
}

.avatar {
  height: 2.5em;
  margin: 0 1em 0 0.5em;
  position: relative;
  width: 2.5em;
}

.icon {
  margin: 0.5em;
}

.link {
  transition: background-color var(--transitionEaseOut), color var(--transitionEaseOut);
  color: var(--colorText);
  cursor: pointer;
  text-decoration: none;
}

.link.light {
  color: var(--lightColorText);
}

.link:active, .link:focus {
  background-color: var(--colorGray8);
  color: white;
  text-decoration: none;
}

.link.light:active, .link.light:focus {
   color: var(--lightColorText);
   background-color: var(--colorGray3);
}

.link:hover {
  color: white;
  text-decoration: none;
}

.link.light:hover {
  background-color: var(--colorGray2);
  color: var(--lightColorText);
}

.selector {
  width: 4.5rem;
  height: 4.5rem;
  border: 0;
  border-radius: 1px !important;
  background: none !important;
  position: relative;
  margin:0 .5rem 0 0;
}
.selector:after {
  content: '';
  border: 1px solid var(--colorGray5);
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  z-index: 1;
  transition: background var(--transitionEaseOut), border-color var(--transitionEaseOut);
}
.light .selector:after {
  border-color: var(--colorGray3);
}

.selector svg {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  z-index: 2;
  left: -.25rem;
  top: 0rem;
}

.selectorSelected:after{
  background: var(--colorGray5);
}
.light .selectorSelected:after {
  background: var(--colorGray2);
  border-color: var(--colorGray4);
}

.selector:focus, .selector:active, .selector:hover, .selector:active:focus{
  background: none !important;
  outline: 0 !important;
}

.selector:focus:after, .selector:active:after, .selector:hover:after{
  background: var(--colorGray4);
  border-color: var(--colorPrimary);
}
.light .selector:focus:after,
.light .selector:active:after,
.light .selector:hover:after {
  background: var(--colorGray2);
  border-color: var(--colorGray4);
}

.selector:focus svg, .selector:active svg, .selector:hover svg{
  fill: var(--colorGray9) !important;
}

.selector.light:focus svg, .selector.light:active svg, .selector.light:hover svg{
  fill: var(--lightColorText2) !important;
}

.selectorInner {
  width: 1.5rem;
  position: relative;
  left: 0.35rem;
  height: 0.2rem;
  border-radius: 2px;
  background: var(--colorGray9);
  z-index: 2;
  top: -.2rem;
}
.selectorInner.light {
  background: var(--lightColorText2);
}

.light .infoText {
  color: var(--colorGray3);
  font-size: 1.2rem;
}