@import './vars.css';

body {
  font-family: var(--fontGotham);
  font-size: 16px;
  line-height: 1.42857;
  color: var(--bodyColor);
  background: var(--bodyBg);
}

.meat{
  position: relative;
  transition:transform 300ms;
}

@media (min-width: 768px) {
  .meatUp{
    composes: meat;
    transform:translateY(-54px);
  }
}