@import './vars.css';

body {
  font-family: var(--fontGotham);
  font-size: 16px;
  line-height: 1.42857;
  color: var(--colorText);
  background: var(--bodyBg);
}

.meat{
  position: relative;
  transition:transform var(--transitionEaseOut);
}

.meatUp{
  composes:meat;
  transform:translateY(-46px);
}

@media (min-width: 768px) {
  .meatUp{
    composes: meat;
    transform:translateY(-100px);
  }
}