/* colors */
:root{
  --bodyBg:#303030;
  --colorPrimary:#42A5F5; /*blue400*/
  --colorPrimaryDark: color(var(--colorPrimary) shade(20%));
  --colorSuccess:#7CB342; /*lightGreen600*/
  --colorInfo:#01579B; /*lightBlue900*/
  --colorWarning:#FFA726; /*orange400*/
  --colorDanger:#f05223; /*custom*/
  --colorError:#FFD600; /*yellowA700*/
  --gray50:#fafafa;
  --gray100:#f5f5f5;
  --gray200:#eeeeee;
  --gray300:#e0e0e0;
  --gray400:#bdbdbd;
  --gray500:#9e9e9e;
  --gray600:#757575;
  --gray700:#616161;
  --gray800:#424242;
  --gray900:#212121;
  --colorText:rgba(255, 255, 255,0.85);
  --colorTextSecondary:rgba(255, 255, 255, 0.56);
  --colorHeader:#37474f;
}

/* fonts */
:root{
  --fontGotham:"Gotham SSm A", "Gotham SSm B", sans-serif;
  --fontTungsten:"Tungsten A", "Tungsten B", sans-serif;
}

/* shadows */
:root{
  --shadowBottomZ1: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  --shadowBottomZ2: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

/* transitions */
:root{
  --transitionEaseOut: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  --transitionBounce: 0.4s cubic-bezier(0.25, 1.25, 0.75, 1.25);
}

:export {
  bodyBg: var(--bodyBg);
  colorPrimary: var(--colorPrimary);
  colorPrimaryDark: var(--colorPrimaryDark);
  colorSuccess: var(--colorSuccess);
  colorInfo: var(--colorInfo);
  colorWarning: var(--colorWarning);
  colorDanger: var(--colorDanger);
  colorError: var(--colorError);
  gray50: var(--gray50);
}