.item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background: var(--colorGray9);
  height: 13rem;
  max-height: 13rem;
  overflow: hidden;
  justify-content: center;
  position: relative;
  transition: max-height var(--transitionEaseOut);
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-left: 4px solid var(--colorGray9);
}

.item.passing {
  border-color: var(--colorSuccess);
}

.item.failing {
  border-color: var(--colorDanger);
}

.item:after {
  background-size: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--colorGray9));
  bottom: 0;
  content: '';
  display: block;
  height: 2.5rem;
  overflow: visible;
  left: 0;
  position: absolute;
  width: 100%;
}

.item.light {
  color: white;
}

.item pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.item.waiting {
  align-items: center;
  max-height:none;
  height:auto;
  min-height:13rem;
}
.item.waiting:after{
  content:none;
  display:none;
}

.item.expanded {
  align-items: flex-start;
  height: auto;
  max-height: none;
}
.item.expanded:after {
  display: none;
}

.button {
  bottom: 1rem;
  position: absolute !important;
  right: 1rem;
  z-index: 2;
}