@import '../global/vars.css';

.checkResponse {
  align-items: flex-start;
  background: var(--gray900);
  border: 2px solid var(--gray900);
  display: flex;
  height: 13rem;
  max-height: 13rem;
  overflow: hidden;
  justify-content: center;
  position: relative;
  transition: max-height var(--transitionEaseOut);
}
.checkResponse:after {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--gray900));
  bottom: 0;
  content: '';
  display: block;
  height: 2.5rem;
  overflow: visible;
  left: 0;
  position: absolute;
  width: 100%;
}

.checkResponseWaiting {
  composes: checkResponse;
  align-items: center;
}

.checkResponseExpanded {
  composes: checkResponse;
  align-items: flex-start;
  height: auto;
  max-height: 100rem;
}
.checkResponseExpanded:after {
  display: none;
}

.checkResponseButton {
  bottom: 1rem;
  position: absolute;
  right: 1rem;
  z-index: 2;
}