@media (min-width: 550px) {
  .line{
    display: flex;
  }
  .inputArea{
    flex: 1;
    padding: 0;
  }
  .testButton{
    margin-left: 1rem;
  }
}

.testButtonSlack{
  margin-left: 1rem;
}

.buttonIconPagerDuty {
  height: 1.3em;
  vertical-align: bottom;
}

.buttonIconPagerDuty{
  fill: white;
}

.buttonIconPagerDuty.light{
  fill: black;
}

.buttonIconPagerDuty.disabled {
  fill: var(--colorText);
}

.buttonIconPagerDuty.primary {
  fill: var(--colorPrimary) !important;
}

.buttonIconPagerDuty.primary.disabled {
  fill: var(--colorText) !important;
}

.buttonIconPagerDuty.primary.disabled.light {
  fill: var(--lightColorText) !important;
}
