.btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0.25em;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.42857;
  margin:0;
  padding: 0.5em;
  text-align: center;
  text-transform: capitalize;
  touch-action: manipulation;
  transition: background var(--transitionEaseOut), color var(--transitionEaseOut), border-color var(--transitionEaseOut), width var(--transitionEaseOut);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.btn svg {
  transition: fill var(--transitionEaseOut)
}
.btn:hover svg, .btn:active svg {
  fill: white;
}

.btn:focus, .btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:focus {
  color: var(--colorText);
  text-decoration: none;
}
.btn:active{
  background-image: none;
  box-shadow: none;
}
.btn[disabled]{
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
  color: var(--colorText2) !important;
  pointer-events: none;
  background: var(--colorGray8);
}

.btn.default {
  color: white;
  background: var(--colorText2);
}
.btn.default.light {
  background: var(--colorGray4);
  color: var(--lightColorText2);
}
.btn.default:hover {
  color: white;
  background: color(var(--colorText2) shade(20%));
}
.btn.default.light:hover {
  background: var(--colorGray5);
  color: var(--lightColorText2);
}
.btn.default:active {
  background: color(var(--colorText2) shade(40%));
}
.btn.default[disabled], .btn.default[disabled]:hover, .btn.default[disabled]:focus, .btn.default[disabled]:active {
  background: var(--colorText2);
}
.btn.default.light[disabled], .btn.default.light[disabled]:hover, .btn.default.light[disabled]:focus, .btn.default.light[disabled]:active {
  color: var(--lightColorText2);
  background: var(--colorGray4);
}

.btn.primary {
  color: #fff;
  background: var(--colorPrimary);
}
.btn.primary:hover {
  color: #fff;
  background: color(var(--colorPrimary) shade(20%));
}
.btn.primary:active {
  background: color(var(--colorPrimary) shade(40%));
}
.btn.primary[disabled], .btn.primary[disabled]:hover, .btn.primary[disabled]:focus, .btn.primary[disabled]:active {
  background: var(--colorPrimary);
}

.btn.success {
  color: #fff;
  background: var(--colorSuccess);
}
.btn.success:hover {
  color: #fff;
  background: color(var(--colorSuccess) shade(20%));
}
.btn.success:active {
  background: color(var(--colorSuccess) shade(40%));
}
.btn.success[disabled], .btn.success[disabled]:hover, .btn.success[disabled]:focus, .btn.success[disabled]:active {
  background: var(--colorSuccess);
}

.btn.info {
  color: #fff;
  background: var(--colorInfo);
}
.btn.info:hover {
  color: #fff;
  background: color(var(--colorInfo) shade(20%));
}
.btn.info:active {
  background: color(var(--colorInfo) shade(40%));
}
.btn.info[disabled], .btn.info[disabled]:hover, .btn.info[disabled]:focus, .btn.info[disabled]:active {
  background: var(--colorInfo);
}

.btn.warning {
  color: #fff;
  background: var(--colorWarning);
}
.btn.warning:hover {
  color: #fff;
  background: color(var(--colorWarning) shade(20%));
}
.btn.warning:active {
  background: color(var(--colorWarning) shade(40%));
}
.btn.warning[disabled], .btn.warning[disabled]:hover, .btn.warning[disabled]:focus, .btn.warning[disabled]:active {
  background: var(--colorWarning);
}

.btn.danger {
  color: #fff;
  background: var(--colorDanger);
}
.btn.danger:hover {
  color: #fff;
  background: color(var(--colorDanger) shade(20%));
}
.btn.danger:active {
  background: color(var(--colorDanger) shade(40%));
}
.btn.danger[disabled], .btn.danger[disabled]:hover, .btn.danger[disabled]:focus, .btn.danger[disabled]:active {
  background: var(--colorDanger);
}

.btn.black {
  color: #fff;
  background: var(--colorGray9);
}
.btn.black:hover {
  color: #fff;
  background: black;
}
.btn.black:active {
  color: #fff;
  background: var(--colorGray8);
}

.btn.flat {
  background: transparent;
  border-color: var(--colorText);
  box-shadow: none;
  color: var(--colorText);
}
.btn.flat.light{
  color: var(--lightColorText);
}
.btn.flat:focus {
  background-color: transparent;
}
.btn.flat:hover{
  background: var(--colorText2);
  border-color: transparent;
  color: white;
}
.btn.flat:active{
  background: color(var(--colorText2) shade(40%));
}

.btn.flat[disabled]{
  background: none !important;
  border-color: var(--colorGray4);
  color: var(--colorGray4);
}
.btn.flat.light[disabled]{
  border-color: var(--lightColorText);
  color: var(--lightColorText) !important;
}
.btn.flat.default.light{
  background: none;
  border-color: var(--lightColorText2);
}
.btn.flat.default.light:hover {
  background: var(--lightColorText2);
  color: white;
}
.btn.flat.primary {
  border-color: var(--colorPrimary);
  color: var(--colorPrimary);
}
.btn.flat.primary:hover {
  border-color: color(var(--colorPrimary) shade(40%));
  background: color(var(--colorPrimary) shade(40%));
  color: white;
}
.btn.flat.primary:active {
  border-color: color(var(--colorPrimary) shade(40%));
  background: color(var(--colorPrimary) shade(40%));
}
.btn.flat.success {
  border-color: var(--colorSuccess);
  color: var(--colorSuccess);
}
.btn.flat.success:hover {
  background: var(--colorSuccess);
  color: white;
}
.btn.flat.success:active {
  background: color(var(--colorSuccess) shade(40%));
}
.btn.flat.warning {
  border-color: var(--colorWarning);
  color: var(--colorWarning);
}
.btn.flat.warning:hover {
  background: var(--colorWarning);
  color: white;
}
.btn.flat.warning:active {
  background: color(var(--colorWarning) shade(40%));
}
.btn.flat.danger {
  border-color: var(--colorDanger);
  color: var(--colorDanger);
}
.btn.flat.danger:hover {
  background: var(--colorDanger);
  color: white;
}
.btn.flat.danger:active {
  background: color(var(--colorDanger) shade(40%));
}
.btn.flat.info {
  border-color: var(--colorInfo);
  color: var(--colorInfo);
}
.btn.flat.info:hover {
  background: var(--colorInfo);
  color: white;
}
.btn.flat.info:active {
  background: color(var(--colorInfo) shade(40%));
}

.btn.block {
  border-radius: 0;
  display: block;
  width: 100%;
}

.btn.fab {
  box-shadow: var(--shadowBottomZ1);
  transition: transform var(--transitionEaseOut), background var(--transitionEaseOut);
  z-index: 20;
  border: none;
  line-height: 5.6rem;
  min-width: 0;
  padding: 0 0;
  width: 5.6rem;
  height: 5.6rem;
  vertical-align: middle;
  position: relative;
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  background-size: 24px 24px;
  background-position: 50% 50%;
}
.light.btn.fab {
  box-shadow: none;
}

.btn.fab:hover,.btn.fab:active {
  transform: scale(1.2) rotate(-90deg);
}

.btn.icon {
  background: transparent;
  border: none;
  line-height: 40px;
  min-width: 0;
  padding: 0 0;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  position: relative;
}
.btn.icon:hover, .btn.icon:active, .btn.icon:focus {
  background: var(--colorGray8);
}

.btn.secondary {
  margin: 0 0.625em 0 0;
}

.btn.dropdown{
  text-transform: none;
  text-align:left;
  font-weight:100;
  min-height:46px;
  box-shadow:none;
}

.btn.left{
  text-align: left;
}
.btn.right{
  text-align:right;
}

.btn.sm{
  padding:.2em;
  line-height:1.2em;
}

.inner{
  position: relative;
}

.progress {
  display: block;
  position: absolute;
  top:0;
  left:0;
  width:101%;
  height:100%;
  z-index:0;
  transform: translateX(-102%);
}

.progress.pressing {
  transition: 1500ms linear transform;
  transform: translateX(0);
}

.progress.primary {
  background: color(var(--colorPrimary) shade(70%));
}

.progress.success {
  background: color(var(--colorSuccess) shade(70%));
}

.progress.danger {
  background: color(var(--colorDanger) shade(70%));
}

.progress.info {
  background: color(var(--colorInfo) shade(70%));
}

.progress.warning {
  background: color(var(--colorWarning) shade(70%));
}