@import '../global/vars.css';

.btn {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0.25em;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.42857;
  margin:0;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: background var(--transitionEaseOut), color var(--transitionEaseOut), border-color var(--transitionEaseOut), width var(--transitionEaseOut);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.btn svg {
  transition: fill var(--transitionEaseOut)
}
.btn:hover svg, .btn:active svg {
  fill: white;
}

.btn:focus, .btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:focus {
  color: var(--colorText);
  text-decoration: none;
}
.btn:active{
  outline: 0;
  background-image: none;
  box-shadow: none;
}
.btn[disabled]{
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
  color: var(--colorTextSecondary) !important;
  pointer-events: none;
  background: var(--gray800);
}

.btnDefault {
  composes: btn;
  color: white;
  background: var(--colorTextSecondary);
}
.btnDefault:focus, .btnDefault:hover, .btnDefault:active {
  color: white;
  background: var(--gray500);
}
.btnDefault[disabled], .btnDefault[disabled]:hover, .btnDefault[disabled]:focus, .btnDefault[disabled]:active {
  background: var(--colorTextSecondary);
}

.btnPrimary {
  composes: btn;
  color: #fff;
  background: var(--colorPrimary);
}
.btnPrimary:focus, .btnPrimary:hover, .btnPrimary:active {
  color: #fff;
  background: color(var(--colorPrimary) blackness(30%));
}
.btnPrimary[disabled], .btnPrimary[disabled]:hover, .btnPrimary[disabled]:focus, .btnPrimary[disabled]:active {
  background: var(--colorPrimary);
}

.btnSuccess {
  composes: btn;
  color: #fff;
  background: var(--colorSuccess);
}
.btnSuccess:focus, .btnSuccess:hover, .btnSuccess:active {
  color: #fff;
  background: color(var(--colorSuccess) blackness(40%));
}
.btnSuccess[disabled], .btnSuccess[disabled]:hover, .btnSuccess[disabled]:focus, .btnSuccess[disabled]:active {
  background: var(--colorSuccess);
}

.btnInfo {
  composes: btn;
  color: #fff;
  background: var(--colorInfo);
}
.btnInfo:focus, .btnInfo:hover, .btnInfo:active {
  color: #fff;
  background: color(var(--colorInfo) blackness(60%));
}
.btnInfo[disabled], .btnInfo[disabled]:hover, .btnInfo[disabled]:focus, .btnInfo[disabled]:active {
  background: var(--colorInfo);
}

.btnWarning {
  composes: btn;
  color: #fff;
  background: var(--colorWarning);
}
.btnWarning:focus, .btnWarning:hover, .btnWarning:active {
  color: #fff;
  background: color(var(--colorWarning) blackness(20%));
}
.btnWarning[disabled], .btnWarning[disabled]:hover, .btnWarning[disabled]:focus, .btnWarning[disabled]:active {
  background: var(--colorWarning);
}

.btnDanger {
  composes: btn;
  color: #fff;
  background: var(--colorDanger);
}
.btnDanger:focus, .btnDanger:hover, .btnDanger:active {
  color: #fff;
  background: color(var(--colorDanger) blackness(30%));
}
.btnDanger[disabled], .btnDanger[disabled]:hover, .btnDanger[disabled]:focus, .btnDanger[disabled]:active {
  background: var(--colorDanger);
}

.btnDark {
  composes: btn;
  color: #fff;
  background: var(--gray900);
}
.btnDark:focus, .btnDark:hover, .btnDark:active {
  color: #fff;
  background: black;
}

.btnNoPad {
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.btnFlat {
  composes: btn;
  background: transparent;
  border-color: var(--colorText);
  box-shadow: none;
  color: var(--colorText);
}
.btnFlat:focus {
  background-color: transparent;
}
.btnFlat:hover{
  background: var(--colorTextSecondary);
  border-color: transparent;
  color: white !important;
}

.btnFlat.btnBlock {
  border-color: transparent;
}

.btnFlat[disabled], .btnFlat.btnPrimary[disabled], .btnFlat.btnSuccess[disabled], .btnFlat.btnInfo[disabled], .btnFlat.btnDanger[disabled]{
  background: none;
  border-color: var(--colorTextSecondary);
}
.btnFlat.btnPrimary {
  border-color: var(--colorPrimary);
  color: var(--colorPrimary);
}
.btnFlat.btnPrimary:hover {
  background: var(--colorPrimary);
}
.btnFlat.btnSuccess {
  border-color: var(--colorSuccess);
  color: var(--colorSuccess);
}
.btnFlat.btnSuccess:hover {
  background: var(--colorSuccess);
}
.btnFlat.btnWarning {
  border-color: var(--colorWarning);
  color: var(--colorWarning);
}
.btnFlat.btnWarning:hover {
  background: var(--colorWarning);
}
.btnFlat.btnDanger {
  border-color: var(--colorDanger);
  color: var(--colorDanger);
}
.btnFlat.btnDanger:hover {
  background: var(--colorDanger);
}
.btnFlat.btnInfo {
  border-color: var(--colorInfo);
  color: var(--colorInfo);
}
.btnFlat.btnInfo:hover {
  background: var(--colorInfo);
}

.btnBlock {
  border-radius: 0;
  display: block;
  width: 100%;
}

.btnFab {
  composes: btn;
  box-shadow: var(--shadowBottomZ1);
  transition: transform var(--transitionEaseOut), background var(--transitionEaseOut);
  z-index: 20;
  border: none;
  line-height: 5.6rem;
  min-width: 0;
  padding: 0 0;
  width: 5.6rem;
  height: 5.6rem;
  vertical-align: middle;
  position: relative;
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  background-size: 24px 24px;
  background-position: 50% 50%;
}
.btnFab:hover {
  transform: scale(1.2);
}

.btnIcon {
  background: transparent;
  border: none;
  line-height: 40px;
  min-width: 0;
  padding: 0 0;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  position: relative;
}
.btnIcon:hover, .btnIcon:active, .btnIcon:focus {
  background: var(--gray800);
}

.btnSecondary {
  margin: 0 0.625em 0 0;
}

.btnDropdown{
  text-transform: none;
  text-align:left;
  font-weight:100;
  min-height:46px;
  box-shadow:none;
}

.btnLeft{
  text-align: left;
}
.btnRight{
  text-align:right;
}

.btnSm{
  padding:.2em;
  line-height:1.2em;
}