.selector {
  width: 4.5rem;
  height: 4.5rem;
  border: 0;
  border-radius: 1px;
  background: none !important;
  position: relative;
  margin: 0;
}
.selector:after {
  content: '';
  border: 1px solid var(--colorGray5);
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  z-index: 1;
  transition: background var(--transitionEaseOut), border-color var(--transitionEaseOut);
}
.selector svg {
  height: 2rem;
  width: 2rem;
  position: relative;
  z-index: 2;
  left: -.1rem;
  top: .5rem;
}

.selectorSelected:after{
  background: var(--colorGray5);
}
.selector:focus, .selector:active, .selector:hover, .selector:active:focus{
  background: none;
  outline: 0;
}
.selector:focus:after, .selector:active:after, .selector:hover:after{
  background: var(--colorGray4);
  border-color: var(--colorPrimary);
}
.selector:focus svg, .selector:active svg, .selector:hover svg{
  fill: var(--colorGray9) !important;
}

.selectorSelected.primary:after{
  background: var(--colorPrimary);
  border-color: var(--colorPrimary);
}