@import '../global/vars.css';

.btn{
  /*position: absolute;
  left:50%;
  top:50%;
  margin:-12px 0 0 -12px;*/
  position: relative;
  top: 0.6rem;
}

.inline{
  display: inline-block;
  height:1.3em;
  width:1.3em;
  vertical-align: text-bottom;
}

.nav{
  display: inline-block;
  height:18px;
  width: 18px;
  vertical-align: text-bottom;
  fill:white;
}

.fillPrimary{
  fill:var(--colorPrimary);
}
.fillSuccess{
  fill:var(--colorSuccess);
}
.fillInfo{
  fill:var(--colorInfo);
}
.fillWarning{
  fill:var(--colorWarning);
}
.fillDanger{
  fill:var(--colorDanger);
}
.fillError{
  fill:var(--colorError);
}
.fillGray50{
  fill:var(--gray50);
}
.fillGray100{
  fill:var(--gray100);
}
.fillGray200{
  fill:var(--gray200);
}
.fillGray300{
  fill:var(--gray300);
}
.fillGray400{
  fill:var(--gray400);
}
.fillGray500{
  fill:var(--gray500);
}
.fillGray600{
  fill:var(--gray600);
}
.fillGray700{
  fill:var(--gray700);
}
.fillGray800{
  fill:var(--gray800);
}
.fillGray900{
  fill:var(--gray900);
}
.fillText{
  fill:var(--colorText);
}
.fillTextSecondary{
  fill:var(--colorTextSecondary);
}
.fillHeader{
  fill:var(--colorHeader);
}