@import '../global/vars.css';

.btn{
  position: absolute;
  left:50%;
  top:50%;
  margin:-12px 0 0 -12px;
}

.inline{
  display: inline-block;
  height:1.3em;
  width:1.3em;
  vertical-align: text-bottom;
}

.nav{
  display: inline-block;
  height:18px;
  width: 18px;
  vertical-align: text-bottom;
  fill:white;
}

.fillPrimary{
  fill:var(--colorPrimary);
}
.fillSuccess{
  fill:var(--colorSuccess);
}
.fillInfo{
  fill:var(--colorInfo);
}
.fillWarning{
  fill:var(--colorWarning);
}
.fillDanger{
  fill:var(--colorDanger);
}
.fillError{
  fill:var(--colorError);
}
.fillGray50{
  fill:var(--gray50);
}
.fillGray100{
  fill:var(--gray100);
}
.fillGray200{
  fill:var(--gray200);
}
.fillText{
  fill:var(--colorText);
}
.fillTextSecondary{
  fill:var(--colorTextSecondary);
}
.fillHeader{
  fill:var(--colorHeader);
}