.btn{
  position: relative;
  top: 0.4rem;
  height: 20px;
  width: 20px;
  fill: var(--colorText);
}
/*.btn.light {
  fill: var(--lightColorText);
}*/

.inline{
  display: inline-block;
  height:1.3em;
  width:1.3em;
  vertical-align: text-bottom;
  /*fill: var(--colorText);*/
}
.inline.light {
  /*fill: var(--lightColorText); */
}

.nav{
  display: inline-block;
  height:18px;
  width: 18px;
  vertical-align: text-bottom;
  fill:white;
}

.fillPrimary {
  fill:var(--colorPrimary);
}
.fillSuccess {
  fill:var(--colorSuccess);
}
.fillInfo {
  fill:var(--colorInfo);
}
.fillWarning {
  fill:var(--colorWarning);
}
.fillDanger {
  fill:var(--colorDanger);
}
.fillError {
  fill:var(--colorError);
}
.fillGray {
  fill:var(--colorGray);
}
.fillGray1 {
  fill:var(--colorGray1);
}
.fillGray2 {
  fill:var(--colorGray2);
}
.fillGray3 {
  fill:var(--colorGray3);
}
.fillGray4 {
  fill:var(--colorGray4);
}
.fillGray5 {
  fill:var(--colorGray5);
}
.fillGray6 {
  fill:var(--colorGray6);
}
.fillGray7 {
  fill:var(--colorGray7);
}
.fillGray8 {
  fill:var(--colorGray8);
}
.fillGray9 {
  fill:var(--colorGray9);
}
.fillText {
  fill:var(--colorText);
}
.fillText.light {
  fill: var(--lightColorText);
}
.fillTextSecondary {
  fill:var(--colorText2);
}
.fillTextSecondary.light {
  fill: var(--lightColorText2);
}
.fillHeader {
  fill:var(--colorHeader);
}
.fillWhite {
  fill: 'white';
}

.disabled {
  fill: var(--colorText);
}

.disabled.light {
  fill: var(--lightColorText);
}