.container-fluid{
  width:100%;
}

.display-flex{
  @include display-flex;
}
.display-flex-sm{
  @include breakpoint($screen-sm){
    @include display-flex;
  }
}
.flex-vertical-align{
  @include display-flex;
  @include align-items(center);
}
.flex-vertical-align-sm{
  @include breakpoint($screen-sm){
    @include display-flex;
    @include align-items(center);
  }
}
.flex-1{
  @include flex(1);
}
.flex-column{
  @extend .display-flex;
  @include flex-direction(column);
}
.flex-wrap{
  @extend .display-flex;
  @include flex-wrap(wrap);
}
.justify-content-between{
  @extend .display-flex;
  @include justify-content(space-between);
}
.justify-content-around{
  @extend .display-flex;
  @include justify-content(space-around);
}
.justify-content-end{
  @extend .display-flex;
  @include justify-content(flex-end);
}
.justify-content-center{
  @extend .display-flex;
  @include justify-content(center);
}
.flex-75{
  @include flex(1 75%);
}
.flex-25{
 @include flex(1 25%);
}
.flex-order-1{
  @include order(1);
}
.flex-order-2{
  @include order(2);
}
.flex-order-3{
  @include order(3);
}
.flex-grow-1{
  @include flex-grow(1);
}

.margin-none{
  margin:0 !important;
}

.padding{
  padding:1em;
}
.padding-sm{
  padding:.5em;
}
.padding-lr {
  padding-left:1em;
  padding-right:1em;
}
.padding-t{
  padding-top:1em;
}
.padding-tb{
  padding-top:1em;
  padding-bottom:1em;
}
.padding-tb-sm{
  padding-top:.5em;
  padding-bottom:.5em;
}
.padding-b {
  padding-bottom: 1em;
}
.padding-bx2 {
  padding-bottom: 2em;
}

hr {
  border-color: $gray-800;
}

body {
  min-height:100vh;
  @include display-flex();
  @include flex-direction(column);
}

#main{
  padding-bottom:5em;
  @extend .flex-1;
}

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
}

  // &.transition-parent-child {
  //   @include transition(all $swift-ease-out-duration $swift-ease-out-timing-function);
  // }
  // &.no-transition{
  //   @include transition(none !important);
  // }

.page-enter, .page-leave{
  @include transition(all $swift-ease-out-duration $swift-ease-out-timing-function);
  position:absolute;
  left:0;
  right:0;
}
.page-enter {
  @include transform(translateY(15px));
}
.page-enter,.page-leave-active{
  opacity:0;
}
.page-enter-active,.page-leave {
  opacity:1;
  @include transform(none);
}
.page-leave-active {
  @include transform(translateY(-15px));
  opacity:0;
}