.list-item {
  align-items: flex-start;
  color: white;
  cursor: pointer;
  overflow: hidden;
  padding: 0.5em 0;
  text-decoration: none;
  transition:300ms background;
  @extend .align-items-center;
  &:hover{
    color: white;
  }
}

.list-item-link {
  @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function, color $swift-ease-out-duration $swift-ease-out-timing-function);
  color: $text-color;
  text-decoration: none;
  &:active, &:focus {
    color: $text-color;
    text-decoration: none;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.list-item-btn{
  @include align-self(stretch);
}