.list-item {
  align-items: flex-start;
  color: white;
  overflow: hidden;
  text-decoration: none;
  transition:300ms background;
  @extend .align-items-center;
  &:hover{
    color: white;
  }
}
.list-item-avatar {
  height: 2.5em;
  margin: 0 1em 0 0.5em;
  position: relative;
  width: 2.5em;
}
.list-item-icon {
  margin: 0.5em;
}

.list-item-link {
  @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function, color $swift-ease-out-duration $swift-ease-out-timing-function);
  color: $text-color;
  cursor: pointer;
  padding: 0.5em 0;
  text-decoration: none;
  &:active, &:focus {
    background-color: $gray-800;
    color: white;
    text-decoration: none;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}