html {
  font-size: 62.5%;
  line-height: 1.4;
}
body {
  color: $text-color;
  font-size:$font-size-base;
  font-weight: $body-font-weight;
}
pre, code {
  font-family: $font-family-monospace;
}
pre {
  white-space: pre;
  width: 100%;
  margin:0;
}
.text-serif {
  font-family: $font-family-serif;
}
.text-secondary {
  color:$text-color-secondary;
}
.text-sm {
  font-size:.8em;
}

h1, .h1{
  font-family:$headings-font-family;
}

h2, .h2{
  color: $text-color-secondary;
  margin:0 0 0.5em 0;
  font-family:$headings-font-family;
}

h3,.h3{
  color: $text-color-secondary;
  font-family: $font-family-sans-serif;
  font-size: 1.125em;
  font-weight: $body-font-weight-med;
  text-indent: 0.5em;
}

em {
  text-decoration: italic;
}

.line-height-1{
  line-height:1.3em;
}