.background {
  fill: #222;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #000;
  fill: none;
}

.xAxis {
  composes: axis;
}

.xTick {
  font-size: 10px;
}

.yAxis {
  composes: axis;
}

.line {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.linebelow {
  fill: none;
  stroke-width: 1.5px;
}

.lineabove {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.thresholdLine {
  stroke: var(--colorPrimary);
  stroke-width: 1px;
}
