.background {
  fill: var(--colorGray9);
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #000;
  fill: none;
}

.xAxis {
  composes: axis;
}

.tick {
  fill: var(--colorGray5);
  font-family: var(--fontMono);
  font-size: 10px;
}

.xTick {
  composes: tick;
}

.yTick {
  composes: tick;
}

.yAxis {
  composes: axis;
}

.yGuide line {
  stroke: var(--colorGray8);
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

.line {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.greaterThan.lineBelow,
.lessThan.lineAbove {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.greaterThan.lineAbove,
.lessThan.lineBelow {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.thresholdLine {
  stroke: var(--colorPrimary);
  stroke-width: 1px;
}
