
.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #000;
}

.xAxis {
  composes: axis;
}

.xTick {
  font-size: 10px;
}

.yAxis {
  composes: axis;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}