:global(#main) {
  padding-bottom: 0;
}

:global(.container) {
  max-width: 680px;
}

p, li{
  color: #AAA;
  line-height: 28px;
}

h1, h2, h3 {
  letter-spacing: 0.5px;
  font-weight: 500;
}

.container {
  background-color: #303030;
  height: 100vh;
}

.transitionContainer {
  position: relative;
}

.transitionPanel {
  width: 100%;
}

.closeWrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  text-align: right;
  cursor: pointer;
  opacity: 0.5;
}

.closeWrapper:hover {
  opacity: 1;
}

.checkWrapper {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--colorSuccess);
  text-align: center;
}

.check {
  height: 40px !important;
  width: 40px !important;
}

.pips {
  text-align: center;
  width: 100%;
  padding-top: 2.5rem;
}

.pip {
  opacity: 0.5;
  width: 10px;
  height: 10px;
  margin: 0 0.25rem;
}

.activePip {
  opacity: 1;
}

.successHeader {
  font-weight: 300;
  opacity: 1;
  text-align: center;
  letter-spacing: 0.5px;
  padding-top: 6rem;
  font-family: var(--fontGotham);
}

.successDivider {
  width: 5vw;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  margin: 2rem auto;
}

.laptop {
  max-width: 200px;
  opacity: 0.8;
}