:global(#main) {
  padding-bottom: 0;
}

:global(.container) {
  max-width: 680px;
}

p, li{
  color: #AAA;
  font-size: 14px;
  line-height: 24px;
}

.container {
  background-color: #303030;
  height: 100vh;
}

.transitionContainer {
  position: relative;
}

.transitionPanel {
  /*position: absolute;*/
  width: 100%;
  padding-top: 4rem;
}

.closeWrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  text-align: right;
  cursor: pointer;
  opacity: 0.5;
}

.closeWrapper:hover {
  opacity: 1;
}

.checkWrapper {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--colorSuccess);
  text-align: center;
}

.check {
  height: 20px !important;
  width: 20px !important;
}

.pips {
  text-align: center;
  /*position: fixed;*/
  /*bottom: 0;*/
  width: 100%;
}

.pip {
  opacity: 0.5;
  width: 10px;
  height: 10px;
}

.activePip {
  opacity: 1;
}

.successHeader {
  font-weight: 500;
  opacity: 0.75;
  text-align: center;
  letter-spacing: 0.5px;
}

.successDivider {
  width: 5vw;
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  margin: 1rem auto;
}