.react-autosuggest__suggestions{
  @extend .list-unstyled;
}
.react-autosuggest__suggestion{
  display: block;
  padding: 3px 20px;
}
.react-autosuggest__suggestion--focused{
  background:$brand-primary;
}