.form-group {
  border: none;
  // background-color: #000;
  margin-bottom: 2em;
  position: relative;
  &.search-group {
    margin-top: 4em;
  }
  .label {
    @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function);
    color: $text-color-secondary;
    display: block;
    font-size: 0.875em;
    font-weight: $body-font-weight;
    left: 0;
    margin-bottom: 0;
    padding: 0.5em 0;
    width: 100%;
  }
  .icon {
    bottom: 0.5em;
    right: 0.5em;
    position: absolute;
  }
  // .has-icon {
  //   input, label {
  //     text-indent: 2em;
  //   }
  // }
  .dropdown-toggle, [dropdown-toggle]{
    @include box-shadow(none);
    background-color: $gray_900;
    border-radius:0;
    font-weight: $body-font-weight;
    text-align: left;
    text-transform: none;
    position: relative;
    overflow-x:hidden;
    &:hover {
      background-color: black;
    }
    &:active, &:focus {
      @include box-shadow(none);
      background-color: black;
      outline: none;
    }
    .icon {
      fill: $text-color-secondary;
      position: absolute;
      right: 0.3em;
      top: 0;
      width: 1.6em;
      height: 2.1em;
    }
  }
  .dropdown-menu {
    width:100%;
    button{
      border:0;
      background:black;
      width:100%;
      text-align:left;
      &:focus,&:active,&:hover{
        background:$brand-primary;
      }
    }
    > li > * {
      font-weight: $body-font-weight;
    }
  }
  .form-subdomain {
    @include transition(height $swift-ease-out-duration $swift-ease-out-timing-function);
    background-color: $gray-900;
    display: block;
    padding: 0.25em 0.5em;
  }
}//.form-group

.input-container {
  &:hover, &:active {
    ~ label {
      color: $gray-200;
    }
    ~ .icon {
      fill: $gray-200;
    }
  }
  &:focus, &.has-content, &.error {
    @include box-shadow(none);
  }
  &:focus {
    & ~ label {
      color: $brand-info;
    }
    & ~ .icon {
      fill: $brand-info;
    }
  }
}

.form-control, input[type='text'], input[type='number'], input[type='email'], input[type='password'] {
  box-shadow:none;
  @include placeholder($text-color-secondary);
  @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function);
  background-color: $gray_900;
  border: none;
  // border-bottom: 1px solid $gray_600;
  color: $text-color;
  padding: 0.5em;
  width:100%;
  &:focus {
    outline: none;
  }
}

.form-message{
  color: $brand-danger;
  font-weight: $body-font-weight-bold;
  @include transition(transform $swift-ease-out-duration $swift-ease-out-timing-function, opacity $swift-ease-out-duration $swift-ease-out-timing-function, visibility $swift-ease-out-duration $swift-ease-out-timing-function);
  margin-left:0.6em;
  &.form-message-good{
    color:$brand-success;
  }
}
.icon {
  @include transition(fill $swift-ease-out-duration $swift-ease-out-timing-function);
  fill: $text-color-secondary;
  height: 1.25em;
  width: 1.25em;
}
.input-group-addon {
  background-color: black;
  border: none;
  color: $text-color-secondary;
}

label{
  cursor:pointer;
  font-weight:inherit;
  margin:0;
}

.btn-group{
  width:100%;
}
.dropdown-toggle{
  width:100%;
}