.radio {
  // @include transition(background-color $swift-ease-in-out-duration $swift-ease-in-out-timing-function);
  @include box-sizing(border-box);
  @include border-radius(0.65em);
  @include user-select(none);
  background: none;
  border: 3px solid $gray-500;
  cursor: pointer;
  height: 26px;
  font-size: 1.2em;
  padding: 0 0;
  position: relative;
  margin: 0 0.5em 0 0;
  width: 26px;
  &:after {
    $width:12px;
    @include transition(background-color $swift-ease-out-duration $swift-ease-out-timing-function);
    background-color: transparent;
    border-radius:100%;
    content: "";
    display: block;
    height: $width;
    width: $width;
    left: 50%;
    top: 50%;
    margin: -1*($width/2) 0 0 -1*($width/2);
    position: absolute;
  }
  &.active:after{
    background-color: $brand-primary;
  }
}