.primary, .primary:hover, .primary:focus, .primary:active{
  color:var(--colorPrimary);
}

.success, .success:hover, .success:focus, .success:active{
  color:var(--colorSuccess);
}

.info, .info:hover, .info:focus, .info:active{
  color:var(--colorInfo);
}

.warning, .warning:hover, .warning:focus, .warning:active{
  color:var(--colorWarning);
}

.danger, .danger:hover, .danger:focus, .danger:active{
  color:var(--colorDanger);
}

.error, .error:hover, .error:focus, .error:active{
  color:var(--colorError);
}

.text, .text:hover, .text:focus, .text:active{
  color:var(--colorText);
}

.gray, .gray:hover, .gray:focus, .gray:active{
  color:var(--colorGray);
}

.gray1, .gray1:hover, .gray1:focus, .gray1:active{
  color:var(--colorGray1);
}

.gray2, .gray2:hover, .gray2:focus, .gray2:active{
  color:var(--colorGray2);
}

.gray3, .gray3:hover, .gray3:focus, .gray3:active{
  color:var(--colorGray3);
}

.gray4, .gray4:hover, .gray4:focus, .gray4:active{
  color:var(--colorGray4);
}

.gray5, .gray5:hover, .gray5:focus, .gray5:active{
  color:var(--colorGray5);
}

.gray6, .gray6:hover, .gray6:focus, .gray6:active{
  color:var(--colorGray6);
}

.gray7, .gray7:hover, .gray7:focus, .gray7:active{
  color:var(--colorGray7);
}

.gray8, .gray8:hover, .gray8:focus, .gray8:active{
  color:var(--colorGray8);
}

.gray9, .gray9:hover, .gray9:focus, .gray9:active{
  color:var(--colorGray9);
}