.form{
  position: relative;
}

.form input{
  position: relative;
  z-index:2;
  padding-right:5rem;
}

.form input:-webkit-autofill {
  background-color: var(--colorGray9) !important;
}

.form :global .form-group{
  position: static;
}

.form :global .form-group > div{
  display:flex;
}

.label{
  background-color: var(--colorGray9);
  transition: background-color var(--transitionEaseOut);
}
.label.light {
  background-color: var(--colorGray3);
  border-bottom: solid 1px (--lightColorBorder);
}

.labelFocused{
  composes: label;
  background:black !important;
}
.labelFocused.light {
  background: #eff1f1 !important;
}